<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QRCode.product.dao.ProdMapper" >
  <resultMap id="BaseResultMap" type="QRCode.product.model.Prod" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prodName" property="prodname" jdbcType="VARCHAR" />
    <result column="prodCode" property="prodcode" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="factoryId" property="factoryid" jdbcType="INTEGER" />
    <result column="registerCode" property="registercode" jdbcType="VARCHAR" />
    <result column="registerName" property="registername" jdbcType="VARCHAR" />
    <result column="pesticideType" property="pesticidetype" jdbcType="INTEGER" />
    <result column="toxicity" property="toxicity" jdbcType="INTEGER" />
    <result column="liquidType" property="liquidtype" jdbcType="INTEGER" />
    <result column="percent" property="percent" jdbcType="DECIMAL" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="endDate" property="enddate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="applicableObject" property="applicableobject" jdbcType="INTEGER" />
    <result column="protectObject" property="protectobject" jdbcType="INTEGER" />
    <result column="dosageMessage" property="dosagemessage" jdbcType="VARCHAR" />
    <result column="useMethod" property="usemethod" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prodName, prodCode, createTime, factoryId, registerCode, registerName, pesticideType, 
    toxicity, liquidType, percent, startDate, endDate, remark, applicableObject, protectObject, 
    dosageMessage, useMethod
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prod_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prod_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="QRCode.product.model.Prod" >
    insert into prod_info (id, prodName, prodCode, 
      createTime, factoryId, registerCode, 
      registerName, pesticideType, toxicity, 
      liquidType, percent, startDate, 
      endDate, remark, applicableObject, 
      protectObject, dosageMessage, useMethod
      )
    values (#{id,jdbcType=INTEGER}, #{prodname,jdbcType=VARCHAR}, #{prodcode,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{factoryid,jdbcType=INTEGER}, #{registercode,jdbcType=VARCHAR}, 
      #{registername,jdbcType=VARCHAR}, #{pesticidetype,jdbcType=INTEGER}, #{toxicity,jdbcType=INTEGER}, 
      #{liquidtype,jdbcType=INTEGER}, #{percent,jdbcType=DECIMAL}, #{startdate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{applicableobject,jdbcType=INTEGER}, 
      #{protectobject,jdbcType=INTEGER}, #{dosagemessage,jdbcType=VARCHAR}, #{usemethod,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="QRCode.product.model.Prod" >
    insert into prod_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prodname != null" >
        prodName,
      </if>
      <if test="prodcode != null" >
        prodCode,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="factoryid != null" >
        factoryId,
      </if>
      <if test="registercode != null" >
        registerCode,
      </if>
      <if test="registername != null" >
        registerName,
      </if>
      <if test="pesticidetype != null" >
        pesticideType,
      </if>
      <if test="toxicity != null" >
        toxicity,
      </if>
      <if test="liquidtype != null" >
        liquidType,
      </if>
      <if test="percent != null" >
        percent,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="applicableobject != null" >
        applicableObject,
      </if>
      <if test="protectobject != null" >
        protectObject,
      </if>
      <if test="dosagemessage != null" >
        dosageMessage,
      </if>
      <if test="usemethod != null" >
        useMethod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prodname != null" >
        #{prodname,jdbcType=VARCHAR},
      </if>
      <if test="prodcode != null" >
        #{prodcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="factoryid != null" >
        #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="registercode != null" >
        #{registercode,jdbcType=VARCHAR},
      </if>
      <if test="registername != null" >
        #{registername,jdbcType=VARCHAR},
      </if>
      <if test="pesticidetype != null" >
        #{pesticidetype,jdbcType=INTEGER},
      </if>
      <if test="toxicity != null" >
        #{toxicity,jdbcType=INTEGER},
      </if>
      <if test="liquidtype != null" >
        #{liquidtype,jdbcType=INTEGER},
      </if>
      <if test="percent != null" >
        #{percent,jdbcType=DECIMAL},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicableobject != null" >
        #{applicableobject,jdbcType=INTEGER},
      </if>
      <if test="protectobject != null" >
        #{protectobject,jdbcType=INTEGER},
      </if>
      <if test="dosagemessage != null" >
        #{dosagemessage,jdbcType=VARCHAR},
      </if>
      <if test="usemethod != null" >
        #{usemethod,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="QRCode.product.model.Prod" >
    update prod_info
    <set >
      <if test="prodname != null" >
        prodName = #{prodname,jdbcType=VARCHAR},
      </if>
      <if test="prodcode != null" >
        prodCode = #{prodcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="factoryid != null" >
        factoryId = #{factoryid,jdbcType=INTEGER},
      </if>
      <if test="registercode != null" >
        registerCode = #{registercode,jdbcType=VARCHAR},
      </if>
      <if test="registername != null" >
        registerName = #{registername,jdbcType=VARCHAR},
      </if>
      <if test="pesticidetype != null" >
        pesticideType = #{pesticidetype,jdbcType=INTEGER},
      </if>
      <if test="toxicity != null" >
        toxicity = #{toxicity,jdbcType=INTEGER},
      </if>
      <if test="liquidtype != null" >
        liquidType = #{liquidtype,jdbcType=INTEGER},
      </if>
      <if test="percent != null" >
        percent = #{percent,jdbcType=DECIMAL},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applicableobject != null" >
        applicableObject = #{applicableobject,jdbcType=INTEGER},
      </if>
      <if test="protectobject != null" >
        protectObject = #{protectobject,jdbcType=INTEGER},
      </if>
      <if test="dosagemessage != null" >
        dosageMessage = #{dosagemessage,jdbcType=VARCHAR},
      </if>
      <if test="usemethod != null" >
        useMethod = #{usemethod,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="QRCode.product.model.Prod" >
    update prod_info
    set prodName = #{prodname,jdbcType=VARCHAR},
      prodCode = #{prodcode,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      factoryId = #{factoryid,jdbcType=INTEGER},
      registerCode = #{registercode,jdbcType=VARCHAR},
      registerName = #{registername,jdbcType=VARCHAR},
      pesticideType = #{pesticidetype,jdbcType=INTEGER},
      toxicity = #{toxicity,jdbcType=INTEGER},
      liquidType = #{liquidtype,jdbcType=INTEGER},
      percent = #{percent,jdbcType=DECIMAL},
      startDate = #{startdate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      applicableObject = #{applicableobject,jdbcType=INTEGER},
      protectObject = #{protectobject,jdbcType=INTEGER},
      dosageMessage = #{dosagemessage,jdbcType=VARCHAR},
      useMethod = #{usemethod,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>